scripts/n8n_workflows/nova_telegram_receive.json
{
  "name": "📲 Nova - Telegram Receive",
  "nodes": [
    {
      "id": "tg_trigger",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [0, 0],
      "parameters": {
        "updates": ["message"],
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Nova Telegram Bot"
        }
      },
      "webhookId": "nova-telegram-receive-v1"
    },
    {
      "id": "filter_text",
      "name": "Solo mensajes de texto",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [220, 0],
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "has_text",
              "leftValue": "={{ $json.message.text }}",
              "rightValue": "",
              "operator": { "type": "string", "operation": "notEmpty" }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true
      }
    },
    {
      "id": "nova_request",
      "name": "Nova — Procesar mensaje",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0],
      "parameters": {
        "method": "POST",
        "url": "http://127.0.0.1:7891/telegram-in",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Nova-Secret", "value": "={{ $env.N8N_WEBHOOK_SECRET || '' }}" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"text\": \"{{ $json.message.text }}\",\n  \"from\": \"{{ $json.message.from.username || $json.message.from.first_name }}\",\n  \"chat_id\": \"{{ $json.message.chat.id }}\"\n}",
        "options": {
          "timeout": 30000,
          "response": { "response": { "responseFormat": "json" } }
        }
      }
    },
    {
      "id": "tg_reply",
      "name": "Telegram: Responder",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, 0],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Nova — Procesar mensaje').item.json.chat_id }}",
        "text": "={{ $('Nova — Procesar mensaje').item.json.response }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        }
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Nova Telegram Bot"
        }
      }
    },
    {
      "id": "error_handler",
      "name": "Error — Avisar al usuario",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [660, 160],
      "parameters": {
        "operation": "sendMessage",
        "chatId": "={{ $('Telegram Trigger').item.json.message.chat.id }}",
        "text": "⚠️ Nova no pudo procesar tu mensaje. ¿Está corriendo? Revisá con `/telegram` en la consola.",
        "additionalFields": {}
      },
      "credentials": {
        "telegramApi": {
          "id": "TELEGRAM_CREDENTIAL_ID",
          "name": "Nova Telegram Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [[ { "node": "Solo mensajes de texto", "type": "main", "index": 0 } ]]
    },
    "Solo mensajes de texto": {
      "main": [[ { "node": "Nova — Procesar mensaje", "type": "main", "index": 0 } ]]
    },
    "Nova — Procesar mensaje": {
      "main": [[ { "node": "Telegram: Responder", "type": "main", "index": 0 } ]],
      "error": [[ { "node": "Error — Avisar al usuario", "type": "main", "index": 0 } ]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "instanceId": ""
  },
  "tags": ["nova", "telegram"]
}
